<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="practice_comments_list_command" xsi:type="object">
                    Practice\Comments\Console\Command\ListCommentsCommand
                </item>
                <item name="practice_comments_add_command" xsi:type="object">
                    Practice\Comments\Console\Command\AddCommentCommand
                </item>
            </argument>
        </arguments>
    </type>
</config>
