<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Add command line arguments -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="practice_comments_list_command" xsi:type="object">
                    Practice\Comments\Console\Command\ListCommentsCommand
                </item>
                <item name="practice_comments_add_command" xsi:type="object">
                    Practice\Comments\Console\Command\AddCommentCommand
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Preference for CommentInterface -->
    <preference for="Practice\Comments\Api\Data\CommentInterface"
                type="Practice\Comments\Model\Comment"/>

    <!-- Preference for CommentRepository -->
    <preference for="Practice\Comments\Api\CommentRepositoryInterface"
                type="Practice\Comments\Repository\CommentRepository"/>

    <!-- Intercept Controllers -->
    <type name="Practice\Comments\Controller\Index\Edit">
        <plugin name="practice_comments_comments_edit"
                type="Practice\Comments\Plugin\CommentEditPlugin"/>
    </type>

    <type name="Practice\Comments\Controller\Index\Save">
        <plugin name="practice_comments_comments_save"
                type="Practice\Comments\Plugin\CommentSavePlugin"/>
    </type>
</config>
